
# Local Postgres example:
#  postgresql://postgres:postgres@localhost:5432/rating_system?schema=public
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/rating_system?schema=public"

AUTH_SECRET="replace-me-with-a-32-byte-random-string"
